<!DOCTYPE html>
<html>
<head>
	<title>HD Imaging Code Challenge</title>
	<link rel="icon" href="#">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

	<div class="control-bar">
		<div class="center">
			<div class="image-controls">

				<input type="button" class="add-image" value="+" onclick="document.getElementById('iInputImage').click();" />
				<input type="file" accept=".png,.jpg,.jpeg" style="display:none;" id="iInputImage" onchange="iInputImageClicked()"/>

				<select class="image-selector" id="sImages" onchange="loadImage()"></select>
			</div>
			<div class="hint">
				<h2 id="hHint">Hint</h2>
			</div>
			<div class="color-controls">
				<label>CHANNELS</label>
				<button class="toggle blue" onclick="btnToggleChannelClicked(this, 'B')"></button>
				<button class="toggle green" onclick="btnToggleChannelClicked(this, 'G')"></button>
				<button class="toggle red" onclick="btnToggleChannelClicked(this, 'R')"></button>
			</div>
		</div>
	</div>

	<div class="viewer">
		<img src="" id="imgViewer">
	</div>

	<div id="dDialogScreen" class="dDialogScreen">
		<div class="message">
			<h2 id="hDialogScreenMsg">Please Wait</h2>
			<p id="pDialogScreenMsg">The image is being uploaded</p>
		</div>
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='javascript/DOMHandler.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/channelsDisplay.js') }}"></script>
	<script type="text/javascript">

		reloadImageList();

	</script>

</body>
</html>