* {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: white;
	font-family: sans-serif;
}

body {
	background-color: #212121;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.control-bar {
	width: 100%;
	height: 64px;
	background-color: #212121;
	border-bottom: 1px solid #424242;
}

.center {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.control-bar .image-controls {
	border-left: 1px solid #424242;
	border-right: 1px solid #424242;
}

.control-bar .color-controls {
	border-left: 1px solid #424242;
	border-right: 1px solid #424242;
	padding: 0 16px;
}

.control-bar .image-controls .image-selector {
	background-color: #212121;
	border: none;
	outline: none;
	height: 64px;
	width: 196px;
	line-height: 64px;
	vertical-align: middle;
	padding-left: 16px;
	border-right: 1px solid #424242;
	position: relative;
	float: left;
}

.control-bar .image-controls .add-image {
	background-color: #212121;
	cursor: pointer;
	border: none;
	outline: none;
	height: 64px;
	width: 64px;
	line-height: 64px;
	vertical-align: middle;
	padding: 0 8px;
	border-right: 1px solid #424242;
	float: left;
	font-size: 2em;
}

.control-bar .color-controls label {
	height: 64px;
	line-height: 64px;
	color: #757575;
	letter-spacing: 2px;
	margin-right: 16px;
}

.control-bar .color-controls .toggle {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border-style: solid;
	border-color: white;
	border-width: 12px;
	margin: 16px 0;
	margin-left: 16px;
	cursor: pointer;
	outline: none;
	float: right;
	transition: border-width 100ms ease-in;
}

.active {
	border-width: 2px !important;
}

.toggle:active {
	border-width: 2px !important;
}

.control-bar .color-controls .red {
	background-color: #F44336;
}

.control-bar .color-controls .green {
	background-color: #4CAF50;
}

.control-bar .color-controls .blue {
	background-color: #2196F3;
}

.viewer {
	width: 100%;
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.viewer #imgViewer {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	object-position: center;
}

.dDialogScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(33, 33, 33, 0.96);
	z-index: 9999;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	display: flex;
	opacity: 0;
	overflow: hidden;
	height: 0;
	transition: opacity 320ms ease-in-out, background-color 320ms;
}

.dDialogScreen.displayDialogScreen {
	visibility: all;
	opacity: 1;
	height: 100%;
}

.error {
	background-color: rgba(192, 33, 33, 0.96);
}

.dDialogScreen #btnRefresh {
	background-color: white;
	border: none;
	outline: none;
	font-size: 1.2em;
	margin-top: 64px;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 4px;
	color: rgb(192, 33, 33);
	display: none;
}

@-webkit-keyframes pulse {
    0% { -webkit-opacity: 0.4; }
    50% { -webkit-opacity: 1; }
    100% { -webkit-opacity: 0.4; }
}

@keyframes pulse {
    0% { opacity: 0.4; }
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}

.dDialogScreen .message {
	-webkit-animation: pulse 2s infinite ease-in-out;
	-o-animation: pulse 2s infinite ease-in-out;
	-ms-animation: pulse 2s infinite ease-in-out; 
	-moz-animation: pulse 2s infinite ease-in-out; 
	animation: pulse 2s infinite ease-in-out;
}

.dDialogScreen h2 {
	font-size: 3.6em;
	color: white;
	margin-bottom: 16px;
	width: 100%;
	text-align: center;
}

.dDialogScreen p {
	font-size: 1.2em;
	color: white;
	width: 100%;
	text-align: center;
}

.control-bar .hint h2 {
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	color: #ddd;
	font-weight: lighter;
}